In [2]:
from dashboard.logic.io import GSHEETS_URL, read_gsheet

In [3]:
df = read_gsheet(GSHEETS_URL, header=None, nrows=11, usecols=[0,1,2], names=['Asset Class', 'Total Value', 'Comments'])

In [5]:
df.fillna("")

                Asset Class    Total Value            Comments
0          Cryptocurrencies    $181,190.74
1    Gold/Silver (physical)    $233,389.37
2   Gold/Silver (allocated)  $1,199,099.12
3           Business Equity    $426,120.28
4   Real Estate Equity (UK)    $227,101.35
5   Real Estate Equity (US)    $482,000.00
6                    Stocks          $0.00  WAITING (Q3 2023?)
7                      Cash    $390,000.00
8
9               Total (USD)  $3,138,900.86          <- No Debt
10           Monthly Income     $50,000.00